{% extends "base.html" %}
{% load static %}
{% block page_content %}
<h1 style="color:yellow;">Добро пожаловать на наш сайт</h1>
<h4 style="color:green;">Мы предоставляем широкий выбор кроссовок</h4>
<div class="container">
{% for picture in pictures %}
    <img   src="{% static picture.image %}" width="1200" height="400">
        <h5 style="color:yellow;">Нажмите кнопку о нас чтобы получить более детальную информацию </h5>
            <a href="{% url 'about' %}">
                <button type="button" class="btn btn-danger">О нас</button>
            </a>


{% endfor %}
</div>

{% endblock %}